html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', 'Nunito Sans', sans-serif;
}

body {
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

